body {
    margin: 0;
    padding: 0;
    background-image: url("/EC/svg-image/bg_gradiation_white_grid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
          
}



.svg-logo {
    position: absolute; /* 将SVG图像设置为绝对定位 */
    top: 0; /* 将SVG图像置于顶部 */
    left: 0; /* 将SVG图像置于左侧 */
    width: 200px; /* 设置SVG图像的宽度 */
    height: 200px; /* 设置SVG图像的高度 */
  }
 
  .svg-kirakira {
    position: absolute; /* 将SVG图像设置为绝对定位 */
    top: 75px; /* 将SVG图像置于顶部 */
    left: 1000px; /* 将SVG图像置于左侧 */
    width: 200px; /* 设置SVG图像的宽度 */
    height: 200px; /* 设置SVG图像的高度 */
  }
 
  .svg-star {
    position: absolute; /* 将SVG图像设置为绝对定位 */
    top: 500px; /* 将SVG图像置于顶部 */
    left: 150px; /* 将SVG图像置于左侧 */
    width: 60px; /* 设置SVG图像的宽度 */
    height: 60px; /* 设置SVG图像的高度 */
  }
 


.container {
    text-align: center;
    margin: 150px auto;
    padding: 20px;
    background-color: #fbeedd;
    border: 5px solid #000000;
    width: 600px;
    height: 300px;
    box-shadow: 0 2px 4px #005320(0, 0, 0, 0.1);
    margin-bottom: -160px;
    z-index: 2; /* 设置更高的 z-index 值 */
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}


button {
    /* 变量 */
    --button_radius: 30px; /* 按钮的圆角半径 */
    --button_color: #e8e8e8; /* 按钮的背景颜色 */
    --button_outline_color: #000000; /* 按钮的边框颜色 */
    font-size: 17px; /* 按钮的字体大小 */
    font-weight: bold; /* 按钮的字体粗细 */
    border: none; /* 去除按钮边框 */
    border-radius: var(--button_radius); /* 设置按钮的圆角半径 */
    background: var(--button_outline_color); /* 设置按钮的背景颜色 */
    box-shadow: 0 2px 4px rgba(201, 16, 16, 0.2); /* 添加阴影效果 */
    text-align: center;
    margin-left: 800px;
    margin-bottom: 300px;
    
    
}

#returnBtn {
    display: block; /* 将按钮元素设置为块级元素 */
    box-sizing: border-box; /* 设置盒模型为 border-box */
    border: 2px solid var(--button_outline_color); /* 设置按钮的边框样式和颜色 */
    border-radius: var(--button_radius); /* 设置按钮的圆角半径 */
    padding: 0.75em 1.5em; /* 设置按钮的内边距 */
    background: var(--button_color); /* 设置按钮的背景颜色 */
    color: var(--button_outline_color); /* 设置按钮的文本颜色 */
    transform: translateY(-0.2em); /* 设置按钮向上移动的初始位置 */
    transition: transform 0.1s ease; /* 添加按钮动画效果 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

#returnBtn:hover {
    /* 鼠标悬停时向上移动按钮 */
    transform: translateY(-0.33em);
}

#returnBtn:active {
    /* 按下按钮时向下移动按钮 */
    transform: translateY(0);
}

