<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>削除完了</title>
    <link rel="stylesheet" th:href="@{/css/adminLessonEditUpdate.css}">
    <!-- fontlink -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
        rel="stylesheet">
    <!-- fontlink^ -->
</head>

<body>
    <!-- HEADER BANNER  before -->
    <header>
        <a href="">
            <div class="logo-triangle"></div>
            <div class="admin_logo">
                <img th:src="@{/sourceImg/admin_web_logo.svg}">
            </div>
        </a>
    </header>
    <!----HEADER BANNER after -->

    <div class="bg_pic">
        <div class="background_pic" id="graduation">
            <img th:src="@{/sourceImg/bgpic_lesson_delete.svg}" alt="graduation picture" />
        </div>
        <div class="background_pic_green" id="green_half_x">
        </div>
        <div class="paper_on_wall">
            <div id="paper2">
                <img th:src="@{/sourceImg/paper2.svg}" alt="a paper looks like tags on the wall">
            </div>
            <div id="paper3">
                <img th:src="@{/sourceImg/paper3.svg}" alt="a paper looks like tags on the wall">
            </div>
            <div id="paper4">
                <img th:src="@{/sourceImg/paper4.svg}" alt="a paper looks like tags on the wall">
            </div>
        </div>
        <div class="lamp">
            <img th:src="@{/sourceImg/lamp.svg}" alt="a lamp on the green table">
        </div>
        <div class="trash_bin">
            <img th:src="@{/sourceImg/trashbin.svg}" alt="a trash bin on the left bottom,which there some paper in it">
        </div>
    </div>


    <div class="updated_window">
        <div class="window_bar"></div>
        <div class="updated_text">
            <p>講座削除完了しました。</p>
        </div>
        <div class="to_list_container">
            <div class="to_list_text">
                <p>講座一覧へ</p>
            </div>
            <div class="to_list_button">
                <a th:href="@{/admin/lesson/list}">＞</a>
            </div>
        </div>
    </div>

</body>

</html>