<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/admin-lesson-register.css}">
    <link rel="stylesheet" th:href="@{/css/admin-footer-header.css}">
	<title>adminLessonEdit</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
		rel="stylesheet">

</head>

<body class="flex-direction-column justify-content-space-between">
    <header>
        <div class="justify-content-space-between" id="headerBar">
            <!-- logo -->
            <a th:href="@{/admin/lesson/list}">
                <div class="logo-horizontal-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.03 44.23">
                        <defs>
                            <style>
                                .cls-yellow {
                                    fill: #ff9f2c;
                                }
                            </style>
                        </defs>
                        <g id="_管理者レジスター">
                            <path
                                d="m14.65,32.34c0,.26.06.38.32.38h15.6c.38,0,.58.26.51.64l-1.66,9.46c-.06.38-.32.64-.7.64H.52c-.32,0-.58-.26-.51-.64L7.49.64c.06-.38.32-.64.64-.64h28.25c.38,0,.58.26.51.64l-1.73,9.46c-.06.38-.32.64-.64.64h-15.72c-.19,0-.38.13-.38.38l-3.77,21.22Z" />
                            <path
                                d="m41.55.64c.06-.38.32-.64.7-.64h10.99c.51,0,.83.19.96.64l6.33,22.18h.25l3.9-22.18c.06-.38.32-.64.7-.64h10.42c.32,0,.58.26.51.64l-7.48,42.19c-.06.38-.32.64-.7.64h-11.12c-.38,0-.7-.19-.83-.64l-6.26-22.18h-.32l-3.9,22.18c-.06.38-.32.64-.7.64h-10.36c-.38,0-.64-.26-.58-.64L41.55.64Z" />
                            <path
                                d="m73.38,39.25c-.26-.19-.26-.64.06-.96l5.69-5.82c.25-.26.64-.32,1.02-.06,3.58,2.24,6.39,3.2,9.72,3.2,2.04,0,3.32-.89,3.32-1.85,0-.64-.51-1.09-2.94-1.34l-3.39-.38c-5.75-.64-9.27-3.39-9.27-8.12,0-7.67,5.88-12.53,15.53-12.53,5.88,0,10.67,1.85,13.29,4.15.26.19.19.64-.13.96l-5.18,5.5c-.32.32-.64.38-.96.19-2.24-1.41-4.86-2.43-8.18-2.43-1.85,0-2.94.77-2.94,1.6,0,.64.45,1.15,2.49,1.34l3.32.38c7.29.77,10.04,3.9,10.04,8.18,0,7.73-6.33,12.98-16.75,12.98-6.65,0-11.57-2.17-14.77-4.99Z" />
                            <path
                                d="m126.37,43.46c-.45,0-.7-.19-.83-.64l-3.07-11.7-1.79,2.17-1.66,9.52c-.06.38-.32.64-.7.64h-10.99c-.32,0-.58-.26-.51-.64L114.1.64c.06-.38.32-.64.64-.64h11.06c.38,0,.64.26.58.64l-3.52,20.2,6.78-8.12c.38-.45.77-.58,1.28-.58h11.06c.45,0,.58.32.32.64l-10.23,10.99,6.07,19.05c.13.32,0,.64-.38.64h-11.38Z" />
                            <path
                                d="m141.58,43.46c-.32,0-.58-.26-.51-.64l5.31-30.04c.06-.38.38-.64.7-.64h11.12c.38,0,.58.26.51.64l-5.3,30.04c-.06.38-.32.64-.7.64h-11.12Zm6.07-34.52c-.38,0-.58-.25-.51-.64l1.34-7.67c.06-.38.32-.64.7-.64h11.12c.38,0,.58.26.51.64l-1.34,7.67c-.06.38-.32.64-.7.64h-11.12Z" />
                            <path
                                d="m169.96,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32c.06-.38.32-.64.64-.64h11.12c.38,0,.64.26.58.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                            <path
                                d="m190.35,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32c.06-.38.32-.64.64-.64h11.12c.38,0,.64.26.58.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                            <path
                                d="m200.83,32.92c.06-.38.32-.64.7-.64h9.91c.38,0,.64.26.58.64l-1.73,9.91c-.06.38-.32.64-.7.64h-9.84c-.38,0-.64-.26-.58-.64l1.66-9.91Z" />
                            <path class="cls-yellow"
                                d="m6.65,19.85l5.3-.33c4.97-.31,9.34-3.38,11.33-7.94l2.12-4.87.33,5.3c.31,4.97,3.38,9.34,7.94,11.33l4.87,2.12-5.3.33c-4.97.31-9.34,3.38-11.33,7.94l-2.12,4.87-.33-5.3c-.31-4.97-3.38-9.34-7.94-11.33l-4.87-2.12Z" />
                        </g>
                    </svg>
                </div>
            </a>

            <div class="justify-content-space-around align-items-center" id="headerBarRightPart">
                <div class="header-courses">
                    <!-- ↓ここで講座コース一覧画面（購入前）を入力 -->
                    <a th:href="@{/admin/lesson/list}" class="text-decoration-none font-color-green font-weight-600"
                        id="coursesButton">COURSES</a>
                </div>

                <div class="Sign-button-header">
                    <button class="green-background circle-radius submit-button-header font-color-cream "
                        id="SignButton" onclick="location.href = '/admin/logout'"><span>SIGN OUT</span></button>
                </div>
            </div>
        </div>
    </header>

    <main class="justify-content-center align-items-center">
        <a th:href="@{/admin/lesson/list}" class="font-color-orange" id="returnButton">＜戻る</a>

        <div class="main-container">
            <div class="content-title">
                <h1 class="main-title">講座編集</h1>
            </div>

            <div class="form-container">
                <form method="post" enctype="multipart/form-data" th:action="@{/admin/lesson/edit}">

                    <!-- 上の部分 -->
                    <div class="flex-direction-row justify-content-space-between">

                        <div class="file-input" style="width: 50%;">
                            <input type="file" id="upload-input" name="imageName"
                                accept="image/png,image/jpeg,image/gif" required>
                            <label for="upload-input">
                                <div id="preview-container">
                                    <span id="placeholder-text">クリックしてアップロード</span>
                                    <img id="preview-image">
                                </div>
                            </label>
                        </div>

                        <div class="lesson-title flex-direction-column justify-content-end" style="width: 50%;">
                            <div class="flex-direction-column" id="title-input-container">
                                <label for="input-title">講座タイトル</label>
                                <input type="text" class="input-title" id="input-title" placeholder="講座タイトルを入力"
                                    name="lessonName" th:value="${lessonList.lessonName}" required>
                            </div>

                            <div class="lesson-title flex-direction-column justify-content-end lesson-cost"
                                id="price-input-container">
                                <label for="input-price">講座金額</label>
                                <div>
                                    <input type="number" min="0" class="input-cost" id="input-price"
                                        placeholder="講座金額を入力" name="fee" th:value="${lessonList.lessonFee}" required><span
                                        style="margin-left: 3px; font-size: 15pt;">Pt</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 下の部分 -->
                    <div class="lesson-content">
                        <div id="lesson-details-container">
                            <label for="lesson-details-input">講座詳細</label>
                            <div id="text-area-container">
                                <div class="decor-div"></div>
                                <textarea id="lesson-details-input" class="details" placeholder="講座内容テキスト"
                                    name="content" th:text="${lessonList.lessonDetail}" required></textarea>
                                <br>
                            </div>
                        </div>
                    </div>
					<input type="hidden" name="lessonId" th:value="${lessonList.lessonId}">
                    <div class="last-button justify-content-end" id="button-area-container">
						<button id="lesson-regist-button">
                            講座編集
                        </button>
                    </div>
                </form>

				<form method="post" th:action="@{/admin/lesson/delete}">
					<input type="hidden" name="lessonId" th:value="${lessonList.lessonId}">
					<button class="button" id="lesson-deleted-button">
						講座削除
					</button>
				</form>
            </div>
        </div>
    </main>
    <!-- フッター-->
    <footer class="green-background adminFooter " id="adminFooterFrame" style="position: static;">
        <div class="footer-container  justify-content-space-between">
            <div class="justify-content-space-between flex-direction-column align-items-flex-end"
                id="adminFooterLeftContainer">
                <svg class="logo-horizontal-cream" id="footerLeftLogo" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 212.03 44.23">
                    <defs>
                        <style>
                            .cls-yellow {
                                fill: #ff9f2c;
                            }
    
                            .cls-cream {
                                fill: #fbeedd;
                            }
                        </style>
                    </defs>
                    <g>
                        <path class="cls-cream"
                            d="m14.65,32.34c0,.26.06.38.32.38h15.6c.38,0,.58.26.51.64l-1.66,9.46c-.06.38-.32.64-.7.64H.52c-.32,0-.58-.26-.51-.64L7.49.64C7.55.26,7.81,0,8.13,0h28.25C36.76,0,36.96.26,36.89.64l-1.73,9.46c-.06.38-.32.64-.64.64h-15.72c-.19,0-.38.13-.38.38l-3.77,21.22Z" />
                        <path class="cls-cream"
                            d="m41.55.64C41.62.26,41.87,0,42.26,0h10.99C53.76,0,54.08.19,54.21.64l6.33,22.18h.25l3.9-22.18C64.76.26,65.01,0,65.4,0h10.42C76.13,0,76.39.26,76.33.64l-7.48,42.19c-.06.38-.32.64-.7.64h-11.12c-.38,0-.7-.19-.83-.64l-6.26-22.18h-.32s-3.9,22.18-3.9,22.18c-.06.38-.32.64-.7.64h-10.36c-.38,0-.64-.26-.58-.64L41.55.64Z" />
                        <path class="cls-cream"
                            d="m73.38,39.25c-.26-.19-.26-.64.06-.96l5.69-5.82c.25-.26.64-.32,1.02-.06,3.58,2.24,6.39,3.2,9.72,3.2,2.04,0,3.32-.89,3.32-1.85,0-.64-.51-1.09-2.94-1.34l-3.39-.38c-5.75-.64-9.27-3.39-9.27-8.12s5.88-12.53,15.53-12.53c5.88,0,10.67,1.85,13.29,4.15.26.19.19.64-.13.96l-5.18,5.5c-.32.32-.64.38-.96.19-2.24-1.41-4.86-2.43-8.18-2.43-1.85,0-2.94.77-2.94,1.6s.45,1.15,2.49,1.34l3.32.38c7.29.77,10.04,3.9,10.04,8.18,0,7.73-6.33,12.98-16.75,12.98-6.65,0-11.57-2.17-14.77-4.99Z" />
                        <path class="cls-cream"
                            d="m126.37,43.46c-.45,0-.7-.19-.83-.64l-3.07-11.7-1.79,2.17-1.66,9.52c-.06.38-.32.64-.7.64h-10.99c-.32,0-.58-.26-.51-.64L114.1.64C114.16.26,114.42,0,114.74,0h11.06C126.18,0,126.44.26,126.37.64l-3.52,20.2,6.78-8.12c.38-.45.77-.58,1.28-.58h11.06c.45,0,.58.32.32.64l-10.23,10.99,6.07,19.05c.13.32,0,.64-.38.64h-11.38Z" />
                        <path class="cls-cream"
                            d="m141.58,43.46c-.32,0-.58-.26-.51-.64l5.31-30.04c.06-.38.38-.64.7-.64h11.12c.38,0,.58.26.51.64l-5.3,30.04c-.06.38-.32.64-.7.64h-11.12Zm6.07-34.52c-.38,0-.58-.25-.51-.64l1.34-7.67C148.55.26,148.81,0,149.19,0h11.12C160.69,0,160.89.26,160.82.64l-1.34,7.67c-.06.38-.32.64-.7.64h-11.12Z" />
                        <path class="cls-cream"
                            d="m169.96,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32C166.13.26,166.38,0,166.7,0h11.12c.38,0,.64.26.58.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                        <path class="cls-cream"
                            d="m190.35,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32C186.51.26,186.77,0,187.09,0h11.12C198.59,0,198.85.26,198.79.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                        <path class="cls-cream"
                            d="m200.83,32.92c.06-.38.32-.64.7-.64h9.91c.38,0,.64.26.58.64l-1.73,9.91c-.06.38-.32.64-.7.64h-9.84c-.38,0-.64-.26-.58-.64l1.66-9.91Z" />
                        <path class="cls-yellow"
                            d="m6.65,19.85l5.3-.33c4.97-.31,9.34-3.38,11.33-7.94l2.12-4.87.33,5.3c.31,4.97,3.38,9.34,7.94,11.33l4.87,2.12-5.3.33c-4.97.31-9.34,3.38-11.33,7.94l-2.12,4.87-.33-5.3c-.31-4.97-3.38-9.34-7.94-11.33l-4.87-2.12Z" />
                    </g>
                </svg>
                <p>未経験からプロまでのITとビジネスを学び、成長させよう。</p>
            </div>
        </div>
    
        <!-- 著作権情報-->
        <p class="copyright" style="position: static;">@ 2023 Enskill. copyright</p>
    </footer>
</body>




<script>

    // 获取文件选择输入框元素
    var fileInput = document.getElementById('upload-input');

    // 获取预览容器元素
    var previewContainer = document.getElementById('preview-container');

    // 获取预览图像元素
    var previewImage = document.getElementById('preview-image');

    // 获取占位文本元素
    var placeholderText = document.getElementById('placeholder-text');

    // 监听文件选择事件
    fileInput.addEventListener('change', function (event) {
        // 获取用户选择的文件
        var file = event.target.files[0];

        // 创建文件读取器
        var reader = new FileReader();

        // 监听文件读取完成事件
        reader.onload = function (e) {
            // 显示预览图像
            previewImage.src = e.target.result;

            // 隐藏占位文本
            placeholderText.style.display = 'none';
        };

        // 读取文件内容
        reader.readAsDataURL(file);
    });


</script>

</html>