<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理者講座一覧</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminLessonList.css}">
</head>
<body>
    <header>
        <h1>管理者講座一覧</h1>
        <button class="login-button">ログイン</button>
    </header>
    
    <div class="lesson-list">
       
        
        <div class="lesson"th:each="lesson:${lessonList}">
            <div class="lesson-image">
                <img th:src="@{'/images/' + ${lesson.imageName}}" alt="講座画像">
            </div>
            <div class="lesson-details">
                <h2 class = "content-title" th:text="${lesson.lessonName}"></h2> <!-- 讲座标题 -->
                <p class = "adjustment" th:text="${lesson.lessonDetail}"></p><!-- 讲座内容 -->
                <div class="lesson-actions">
                    <button><a class="more" th:href="@{'/lesson/edit/' +${lesson.lessonId}}">more</a></button> <!-- もっと見るボタン -->
                    <button><a class="more" th:href="@{'/lesson/purchaser/list/' +${lesson.lessonId}}">購入者一覧</a></button>
                    <span class="lesson-cost" th:text="'￥' + ${lesson.lessonFee}"></span>
                </div>
            </div>
        </div>
        
        
        <!-- 其他講座的显示 -->
    </div>

    <footer>
        <p>版权所有 © 2023 管理者講座一覧</p>
    </footer>
</body>
</html>

