<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Register</title>
	<link rel="stylesheet" href="/css/userLoginSignUp.css">
	<!-- fontlink UPdated -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
		rel="stylesheet">
	<!-- fontlink^ -->
	<link rel="stylesheet" th:href="@{/css/userLoginSignUp.css}">
</head>

<body>
	<!-- HEADER BANNER -->
	<header>
		<!-- HEADER BANNER  before -->
		<header>
			<a href="">
				<div class="logo-triangle-black"></div>
				<div class="user_logo">
					<img src="/sourceImg/user_web_logo.svg">
				</div>
			</a>
		</header>
		<!----HEADER BANNER after -->
	</header>

	<div class="bg_pic_container">
		<div class="background_pic background_cream" id="gradient">
			<img src="/sourceImg/user_signup_finish_bgpic.svg"
				alt="a gradient background with green an pink and yellow">
		</div>
		<div class="bg-decorate">
			<img  class="rotate-animation" id="yellow-cross-star1" src="/sourceImg/kira2.svg" alt="a yellow cross star">
			<img class="rotate-animation" id="yellow-cross-star2" src="/sourceImg/kira2.svg" alt="a yellow cross star">
			<img class="floating" id="spiral-cross-star3" src="/sourceImg/kira1.svg" alt="a yellow spiral with a yellow circle">
		</div>

	</div>

	<div class="container">
		<div class="user-signup-form ">
			<!-- input form -->
			<form method="post" th:action="@{/student/register}">
				<div class="form_container">
					<div class="flex-row pxh80">
						<div class="label-img-holder mail-icon">
							<img src="/sourceImg/mail.svg" alt="a email icon">
						</div>
						<input class="input-transparent border-bottom pt17 pxh75" type="email" id="studentEmail"
							name="email" required>
					</div>

					<div class="flex-row pxh80">
						<div class="label-img-holder psw-icon ">
							<img src="/sourceImg/password.svg" alt="a password icon">
						</div>
						<input class="input-transparent border-bottom pt17 pxh75" type="password" id="studentPassword"
							name="password" required>
					</div>

					<div class="flex-row pxh80">
						<div class="label-img-holder name-icon">
							<img src="/sourceImg/name.svg" alt="a name icon">
						</div>
						<input class="input-transparent border-bottom pt17 pxh75" type="text" id="studentName"
							name="username" required>
					</div>

				</div>
				<div class="psw-forget flex-row">
					<label for="password">パスワードを忘れた際の提示キーワード</label>
					<input class="green-background  circle-radius " type="password" id="studentKeyPassword"
						name="keypassword" required>
				</div>



				<!-- ここで遷移先を入力 -->
				<input class="float circle-radius cream-background pxh75  border4px " id="UserSignUpButton" value=" 登録">
			
		</div>
	</div>

	<p th:if="${error == true}" class="error-msg none-display">そのE-mailは既に使用されています</p>

	<div id="confirmation-box"
		class="green-background container confirmation-box border4px justify-content-space-around ">
		<div>
			<p>入力した内容間違いないでしょか？</p>
		</div>

		<div class="button-container">
			<input class="cream-background border4px" type="submit" value="はい">
		</div>
		</form>
		<div>
			<input class="cream-background border4px" id="closeButton" type="submit" value="いいえ、修正します">
		</div>
	</div>


	<!-- copyright -->
	<footer>
		<p>copyright &copy; 2023 - ENSkill</p>
	</footer>


	<script>
		// 必要な要素を取得する
		const UserSignUpButton = document.getElementById("UserSignUpButton");
		const confirmationBox = document.getElementById("confirmation-box");
		const closeButton = document.getElementById("closeButton");

		// 初期状態でdivBを非表示にする
		confirmationBox.style.display = "none";

		// Aボタンをクリックした時にdivBを表示する
		UserSignUpButton.addEventListener("click", function () {
			confirmationBox.style.display = "flex";
		});

		// ボタン2をクリックした時にdivBを非表示にする
		closeButton.addEventListener("click", function () {
			confirmationBox.style.display = "none";
		});



		//Make the DIV element draggagle:
		dragElement(document.getElementById("confirmation-box"));

		function dragElement(elmnt) {
			var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
			if (document.getElementById(elmnt.id + "header")) {
				/* if present, the header is where you move the DIV from:*/
				document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
			} else {
				/* otherwise, move the DIV from anywhere inside the DIV:*/
				elmnt.onmousedown = dragMouseDown;
			}

			function dragMouseDown(e) {
				e = e || window.event;
				e.preventDefault();
				// get the mouse cursor position at startup:
				pos3 = e.clientX;
				pos4 = e.clientY;
				document.onmouseup = closeDragElement;
				// call a function whenever the cursor moves:
				document.onmousemove = elementDrag;
			}

			function elementDrag(e) {
				e = e || window.event;
				e.preventDefault();
				// calculate the new cursor position:
				pos1 = pos3 - e.clientX;
				pos2 = pos4 - e.clientY;
				pos3 = e.clientX;
				pos4 = e.clientY;
				// set the element's new position:
				elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
				elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
			}

			function closeDragElement() {
				/* stop moving when mouse button is released:*/
				document.onmouseup = null;
				document.onmousemove = null;
			}
		}
	</script>

</body>

</html>