<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー登録完了</title>
  <link rel="stylesheet" href="/css/userLoginSignUp.css">
  <!-- fontlink UPdated -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
    rel="stylesheet">
  <!-- fontlink^ -->
  	<link rel="stylesheet" th:href="@{/css/userLoginSignUp.css}">
  
</head>

<body>

  <!-- HEADER BANNER -->
  <header>
    <!-- HEADER BANNER  before -->
    <header>
      <a href="">
        <div class="logo-triangle-black"></div>
        <div class="user_logo">
          <img src="/sourceImg/user_web_logo.svg">
        </div>
      </a>
    </header>
    <!----HEADER BANNER after -->
  </header>
  <div class="bg_pic_container">
    <div class="multiple_background background_pic background_cream" id="gradient"></div>
    <div class="bg-decorate">
      <img class="rotate-animation" id="border-cream-cross-star1" src="/sourceImg/kira5.svg" alt="a cross star">
      <img class="rotate-animation" id="border-cream-cross-star2" src="/sourceImg/kira4.svg" alt="a cross star">
    </div>
  </div>
  <div class="">
    <div class="opened-mail zindex1">
      <img src="/sourceImg/mail_open_big.svg" alt="a opened mail">

      <div class="scroll-text absolute-top0 thank-regi-msg">
        <p class="zindex2 ">ありがとうございます、ユーザー登録完了しました！ありがとうございます、ユーザー登録完了しました！</p>
      </div>
      <button class="cta" type="submit">
        <!-- ここでログインへの動作入力 -->
        <span  class="hover-underline-animation"><a th:href="@{/student/login}" > Login</a></span>
        <svg id="arrow-horizontal1" xmlns="http://www.w3.org/2000/svg" width="40" height="30" viewBox="0 0 46 16">
          <path d="m0,13.55c0-.28.08-.4.4-.52l10.61-3.99v-.08L.4,4.95c-.32-.12-.4-.24-.4-.52V.27C0,.03.16-.05.4.03l17.15,6.78c.24.12.4.28.4.56v3.23c0,.28-.16.44-.4.57L.4,17.94c-.24.08-.4,0-.4-.24v-4.16Z"/><path d="m21.62,13.55c0-.28.08-.4.4-.52l10.61-3.99v-.08l-10.61-3.99c-.32-.12-.4-.24-.4-.52V.27c0-.24.16-.32.4-.24l17.15,6.78c.24.12.4.28.4.56v3.23c0,.28-.16.44-.4.57l-17.15,6.78c-.24.08-.4,0-.4-.24v-4.16Z"/>
        </svg>
      </button>
    </div>

  </div>






</body>

</html>