<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>

    <!-- BACKEND MESSAGE:
    CSSファイルはこの二つ行です。両方もコメントインにしてください。 -->
    <!-- <link rel="stylesheet" th:href="@{/css/userMypageAndPoint.css}">
    <link rel="stylesheet" th:href="@{/css/userFooterHeader.css}"> -->
    
    <link rel="stylesheet" th:href="@{/css/userMypageAndPoint.css}">
    <link rel="stylesheet" th:href="@{/css/userFooterHeader.css}">
    <!-- fontlink -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
        rel="stylesheet">
    <!-- fontlink^ -->

</head>

<body>
    <header>
        <!-- logo -->
        <div class="justify-content-space-between" id="headerBar">
            <a href="">
                <div class="logo-horizontal-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.03 44.23">
                        <defs>
                            <style>
                                .cls-yellow {
                                    fill: #ff9f2c;
                                }
                            </style>
                        </defs>
                        <g id="_管理者レジスター">
                            <path
                                d="m14.65,32.34c0,.26.06.38.32.38h15.6c.38,0,.58.26.51.64l-1.66,9.46c-.06.38-.32.64-.7.64H.52c-.32,0-.58-.26-.51-.64L7.49.64c.06-.38.32-.64.64-.64h28.25c.38,0,.58.26.51.64l-1.73,9.46c-.06.38-.32.64-.64.64h-15.72c-.19,0-.38.13-.38.38l-3.77,21.22Z" />
                            <path
                                d="m41.55.64c.06-.38.32-.64.7-.64h10.99c.51,0,.83.19.96.64l6.33,22.18h.25l3.9-22.18c.06-.38.32-.64.7-.64h10.42c.32,0,.58.26.51.64l-7.48,42.19c-.06.38-.32.64-.7.64h-11.12c-.38,0-.7-.19-.83-.64l-6.26-22.18h-.32l-3.9,22.18c-.06.38-.32.64-.7.64h-10.36c-.38,0-.64-.26-.58-.64L41.55.64Z" />
                            <path
                                d="m73.38,39.25c-.26-.19-.26-.64.06-.96l5.69-5.82c.25-.26.64-.32,1.02-.06,3.58,2.24,6.39,3.2,9.72,3.2,2.04,0,3.32-.89,3.32-1.85,0-.64-.51-1.09-2.94-1.34l-3.39-.38c-5.75-.64-9.27-3.39-9.27-8.12,0-7.67,5.88-12.53,15.53-12.53,5.88,0,10.67,1.85,13.29,4.15.26.19.19.64-.13.96l-5.18,5.5c-.32.32-.64.38-.96.19-2.24-1.41-4.86-2.43-8.18-2.43-1.85,0-2.94.77-2.94,1.6,0,.64.45,1.15,2.49,1.34l3.32.38c7.29.77,10.04,3.9,10.04,8.18,0,7.73-6.33,12.98-16.75,12.98-6.65,0-11.57-2.17-14.77-4.99Z" />
                            <path
                                d="m126.37,43.46c-.45,0-.7-.19-.83-.64l-3.07-11.7-1.79,2.17-1.66,9.52c-.06.38-.32.64-.7.64h-10.99c-.32,0-.58-.26-.51-.64L114.1.64c.06-.38.32-.64.64-.64h11.06c.38,0,.64.26.58.64l-3.52,20.2,6.78-8.12c.38-.45.77-.58,1.28-.58h11.06c.45,0,.58.32.32.64l-10.23,10.99,6.07,19.05c.13.32,0,.64-.38.64h-11.38Z" />
                            <path
                                d="m141.58,43.46c-.32,0-.58-.26-.51-.64l5.31-30.04c.06-.38.38-.64.7-.64h11.12c.38,0,.58.26.51.64l-5.3,30.04c-.06.38-.32.64-.7.64h-11.12Zm6.07-34.52c-.38,0-.58-.25-.51-.64l1.34-7.67c.06-.38.32-.64.7-.64h11.12c.38,0,.58.26.51.64l-1.34,7.67c-.06.38-.32.64-.7.64h-11.12Z" />
                            <path
                                d="m169.96,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32c.06-.38.32-.64.64-.64h11.12c.38,0,.64.26.58.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                            <path
                                d="m190.35,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32c.06-.38.32-.64.64-.64h11.12c.38,0,.64.26.58.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                            <path
                                d="m200.83,32.92c.06-.38.32-.64.7-.64h9.91c.38,0,.64.26.58.64l-1.73,9.91c-.06.38-.32.64-.7.64h-9.84c-.38,0-.64-.26-.58-.64l1.66-9.91Z" />
                            <path class="cls-yellow"
                                d="m6.65,19.85l5.3-.33c4.97-.31,9.34-3.38,11.33-7.94l2.12-4.87.33,5.3c.31,4.97,3.38,9.34,7.94,11.33l4.87,2.12-5.3.33c-4.97.31-9.34,3.38-11.33,7.94l-2.12,4.87-.33-5.3c-.31-4.97-3.38-9.34-7.94-11.33l-4.87-2.12Z" />
                        </g>
                    </svg>
                </div>
            </a>

            <div class="justify-content-space-around align-items-center" id="headerBarRightPart">
                <div class="header-courses">
                    <!-- ↓ここで講座コース一覧画面（購入前）を入力 -->
                    <a th:href="@{/student/lesson/list}" class="text-decoration-none font-color-green font-weight-600"
                        id="coursesButton">COURSES</a>
                </div>
                <div class="cart-icon">
                    <!-- ↓ここでカート一覧画面（購入前）を入力 -->
                    <a th:href="@{/student/cart}">
                        <svg class="svg_element" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.85 61.42">
                            <defs>
                                <style>

                                </style>
                            </defs>
                            <g id="_講座一覧画面">
                                <path
                                    d="m69.67,46H20.17l3.02-5.96c.06-.11.1-.23.13-.34.24-.14.44-.32.6-.54h43.57l5.37-27.46H16.43L12.9,0,1.9.25C.83.27-.02,1.16,0,2.23c.02,1.07.92,1.9,1.98,1.9l8.05-.18,10.19,33.72c-.2.16-.37.37-.49.62l-4.45,8.78c-.3.6-.28,1.32.08,1.89.35.58.98.93,1.65.93h52.66c1.07,0,1.94-.87,1.94-1.94s-.87-1.94-1.94-1.94Z" />
                                <path
                                    d="m30.34,52.23c-2.54,0-4.59,2.06-4.59,4.59s2.06,4.59,4.59,4.59,4.59-2.06,4.59-4.59-2.06-4.59-4.59-4.59Z" />
                                <circle cx="57.84" cy="56.82" r="4.59" />
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="Sign-button-header">
                    <button class="green-background circle-radius submit-button-header font-color-cream "
                        id="SignButton" onclick="location.href = '/student/logout'"><span>SIGN OUT</span></button>
                </div>
            </div>
        </div>
    </header>
    <!-- 背景画像 -->
    <div class="bg_pic_container">
        <!-- BACKEND MESSAGE: 
             背景画像は
                multiple_background-cream-grid属性↓の入っております -->
        <div class="multiple_background-cream-grid background_pic background_cream" id="gradient">
            <!-- 背景の飾り物 -->
            <div id="mypage-bg-decorate">
                <div id="MyPage-label">
                    <p>My</p>
                    <p>Page</p>
                </div>
                <svg class="floating "xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.44 275.44">
                    <defs>
                        <style>
                            .cls-fbca5a {
                                fill: #fbca5a;
                            }
                        </style>
                    </defs>
                    <g>
                        <circle class="cls-fbca5a" cx="137.72" cy="137.72" r="137.72" />
                    </g>
                </svg>
            </div>
            <div class="green-background" id="mypage-back-green">

            </div>
        </div>
    </div>

    <main class="flex-direction-column  align-items-center">
        <!-- ユーザー個人情報ボックス -->
        <section>
            <div class="cream-background border4px flex-direction-row align-items-center justify-content-space-around"
                id="userBox">
                <div>
                    <!-- leftpart -->
                    <div class="flex-direction-column justify-content-center align-items-flex-end"
                        id="my-page-username-box">
                        <!-- for the name -->
                        <!-- flex-direction-column　 -->
                        <p id="nameLabel">お名前</p>
                        <!-- BACKEND MESSAGE: -->
                        <!-- ここでユーザー名を獲得する↓ -->
                        <p id="userName" name="userName" th:text = "${student.studentName}"></p>

                    </div>
                </div>
                <div id="vertical-line-block">
                    <!-- vertical line (rectangle)-->

                </div>
                <div id="my-page-username-rightbox">
                    <!-- rightpart -->
                    <div class="flex-direction-column">
                        <!-- password  flex-direction-column -->
                        <p id="passwordLabel">パスワード</p>
                        <div>
                            <!-- BACKEND MESSAGE: -->
                            <!-- ここでパスワードを獲得する↓ -->
                            <span class="userMyPagePassword" type="password" id="userMyPagePassword"
                                name="password" th:text = "${student.studentPassword}"></span>
                            <ion-icon name="eye-outline" id="eye-outline" width="1.2em"></ion-icon>
                            <ion-icon name="eye-off-outline" id="eye-off-outline" class="hidden"
                                width="1.2em"></ion-icon>
                            <div>
                                <!-- BACKEND MESSAGE: -->
                                <!-- ここでパスワードを変更画面にする↓ -->
                                <a th:href="@{/password/reset}" class="font-color-green text-decoration-none"
                                    id="password-change">パスワードを変更する</a>
                            </div>
                        </div>
                    </div>
                    <div id="point-box">
                        <!-- point flex-direction-column -->
                        <p>保有ポイント</p>
                        <!-- BACKEND MESSAGE: -->
                        <!-- ここでポイントを獲得する↓ -->
                        <span id="point" name="point" th:text = "${point}"></span>

                        <span>pt</span>
                        <div>
                            <!-- BACKEND MESSAGE: -->
                            <!-- ここでポイントをチャージ画面に遷移する↓ -->
                            <a th:href="@{/point}" class="font-color-green text-decoration-none"
                                id="point-charge">ポイントをチャージする</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ユーザー講座購入履歴ボックス -->
        <section id="courses-purchase-history-container">
            <div class="history-container  flex-direction-column align-items-center">
                <div>
                    <h2>講座購入履歴</h2>
                </div>

                <!-- 一覧リストはここから -->
                <div class="flex-direction-column" th:each="lesson:${listbuy}">
                    <!-- just a black line ↓ -->
                    <div class="horizontal-line-block"></div>

                    <div class="flex-direction-row justify-content-space-around align-items-center">
                        <div class="img-preview">
                            <!-- BACKEND MESSAGE:
                                    この下の一行目はただの効果を見る仮置き、コメントアウトして、二行目に変換してください -->
                            <!--<img src="https://i.pinimg.com/564x/bf/58/93/bf5893db0ede755dcd1ff33d278334ab.jpg">-->
                                <img  th:src="@{/images/{items}(items=${lesson.imageName})}">
                        </div>
                        <!-- BACKEND MESSAGE:
                                    この下の一行目の中身はただの効果を見る仮置き -->
                        <span class="label">講座名:</span>
                        <p class="font-color-black lessonName" th:text="${lesson.lessonName}"></p>

                        <div class="flex-direction-column align-items-flex-end justify-content-space-between day-point">
                            <div>
                                <span class="label">購入日時:</span>
                                <!-- BACKEND MESSAGE:
                                    この下の一行目の中身はただの効果を見る仮置き -->
                                <span class="purchase-value-daytime">
                                    <!--2023/06/13-->
                                    <p>[[${#temporals.format(lesson.transactionDate, 'yyyy/MM/dd')}]]</p>
                                </span>
                            </div>
                            <div class="space-holder"></div>
                            <div class="">
                                <span class="label">決済ポイント:</span>
                                <!-- BACKEND MESSAGE:
                                    この下の一行目の中身はただの効果を見る仮置き -->
                                <span class="purchase-value-point" th:text="${lesson.lessonFee}"></span><span>pt</span>
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>
        </section>


    </main>

    <!-- フッター-->
    <footer class="green-background" id="userFooterFrame">
        <div class="footer-container  justify-content-space-between">

            <div class="justify-content-space-between flex-direction-column" id="footerLeftContainer">
                <svg class="logo-horizontal-cream" id="footerLeftLogo" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 212.03 44.23">
                    <defs>
                        <style>
                            .cls-yellow {
                                fill: #ff9f2c;
                            }

                            .cls-cream {
                                fill: #fbeedd;
                            }
                        </style>
                    </defs>
                    <g id="_ユーザーログイン画面">
                        <path class="cls-cream"
                            d="m14.65,32.34c0,.26.06.38.32.38h15.6c.38,0,.58.26.51.64l-1.66,9.46c-.06.38-.32.64-.7.64H.52c-.32,0-.58-.26-.51-.64L7.49.64C7.55.26,7.81,0,8.13,0h28.25C36.76,0,36.96.26,36.89.64l-1.73,9.46c-.06.38-.32.64-.64.64h-15.72c-.19,0-.38.13-.38.38l-3.77,21.22Z" />
                        <path class="cls-cream"
                            d="m41.55.64C41.62.26,41.87,0,42.26,0h10.99C53.76,0,54.08.19,54.21.64l6.33,22.18h.25l3.9-22.18C64.76.26,65.01,0,65.4,0h10.42C76.13,0,76.39.26,76.33.64l-7.48,42.19c-.06.38-.32.64-.7.64h-11.12c-.38,0-.7-.19-.83-.64l-6.26-22.18h-.32s-3.9,22.18-3.9,22.18c-.06.38-.32.64-.7.64h-10.36c-.38,0-.64-.26-.58-.64L41.55.64Z" />
                        <path class="cls-cream"
                            d="m73.38,39.25c-.26-.19-.26-.64.06-.96l5.69-5.82c.25-.26.64-.32,1.02-.06,3.58,2.24,6.39,3.2,9.72,3.2,2.04,0,3.32-.89,3.32-1.85,0-.64-.51-1.09-2.94-1.34l-3.39-.38c-5.75-.64-9.27-3.39-9.27-8.12s5.88-12.53,15.53-12.53c5.88,0,10.67,1.85,13.29,4.15.26.19.19.64-.13.96l-5.18,5.5c-.32.32-.64.38-.96.19-2.24-1.41-4.86-2.43-8.18-2.43-1.85,0-2.94.77-2.94,1.6s.45,1.15,2.49,1.34l3.32.38c7.29.77,10.04,3.9,10.04,8.18,0,7.73-6.33,12.98-16.75,12.98-6.65,0-11.57-2.17-14.77-4.99Z" />
                        <path class="cls-cream"
                            d="m126.37,43.46c-.45,0-.7-.19-.83-.64l-3.07-11.7-1.79,2.17-1.66,9.52c-.06.38-.32.64-.7.64h-10.99c-.32,0-.58-.26-.51-.64L114.1.64C114.16.26,114.42,0,114.74,0h11.06C126.18,0,126.44.26,126.37.64l-3.52,20.2,6.78-8.12c.38-.45.77-.58,1.28-.58h11.06c.45,0,.58.32.32.64l-10.23,10.99,6.07,19.05c.13.32,0,.64-.38.64h-11.38Z" />
                        <path class="cls-cream"
                            d="m141.58,43.46c-.32,0-.58-.26-.51-.64l5.31-30.04c.06-.38.38-.64.7-.64h11.12c.38,0,.58.26.51.64l-5.3,30.04c-.06.38-.32.64-.7.64h-11.12Zm6.07-34.52c-.38,0-.58-.25-.51-.64l1.34-7.67C148.55.26,148.81,0,149.19,0h11.12C160.69,0,160.89.26,160.82.64l-1.34,7.67c-.06.38-.32.64-.7.64h-11.12Z" />
                        <path class="cls-cream"
                            d="m169.96,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32C166.13.26,166.38,0,166.7,0h11.12c.38,0,.64.26.58.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                        <path class="cls-cream"
                            d="m190.35,43.85c-8.95,0-10.99-3.58-9.59-11.89l5.69-31.32C186.51.26,186.77,0,187.09,0h11.12C198.59,0,198.85.26,198.79.64l-5.43,29.79c-.38,2.3.13,3.26,1.92,3.26h1.21c.32,0,.58.25.51.64l-1.6,8.88c-.06.38-.38.64-.7.64h-4.35Z" />
                        <path class="cls-cream"
                            d="m200.83,32.92c.06-.38.32-.64.7-.64h9.91c.38,0,.64.26.58.64l-1.73,9.91c-.06.38-.32.64-.7.64h-9.84c-.38,0-.64-.26-.58-.64l1.66-9.91Z" />
                        <path class="cls-yellow"
                            d="m6.65,19.85l5.3-.33c4.97-.31,9.34-3.38,11.33-7.94l2.12-4.87.33,5.3c.31,4.97,3.38,9.34,7.94,11.33l4.87,2.12-5.3.33c-4.97.31-9.34,3.38-11.33,7.94l-2.12,4.87-.33-5.3c-.31-4.97-3.38-9.34-7.94-11.33l-4.87-2.12Z" />
                    </g>
                </svg>
                <p>未経験からプロまでのITとビジネスを学び、成長させよう。</p>
            </div>

            <div class="justify-content-space-around " id="footerRightContainer">

                <div>
                    <h3>ACADEMY</h3>
                    <div class="justify-content-space-between  flex-direction-column" id="academy">
                        <a href="">ダッシュボード</a>
                        <a href="">講座一覧</a>
                    </div>
                </div>

                <div>
                    <h3>ABOUT</h3>
                    <div class="justify-content-space-between flex-direction-column" id="about">
                        <p>運営会社</p>
                        <p>採用情報</p>
                        <p>お問い合わせ</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 著作権情報-->

    </footer>

    <p class="copyright">@ 2023 Enskill. copyright</p>

    <!-- フッターはここまでコピーする↑ -->

    <!-- passwordを見えないようにする -->
    <script>

        const password = document.getElementById('userMyPagePassword');
        const eyeBtn = document.getElementById('eye-outline');
        const eyeOffBtn = document.getElementById('eye-off-outline');

        eyeBtn.addEventListener('click', () => {
            eyeBtn.classList.toggle('hidden');
            eyeOffBtn.classList.toggle('hidden');
            password.classList.toggle('visible');
        });

        eyeOffBtn.addEventListener('click', () => {
            eyeBtn.classList.toggle('hidden');
            eyeOffBtn.classList.toggle('hidden');
            password.classList.toggle('visible');
        });
    </script>
    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>