<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Login</title>
	<!-- fontlink -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/user-login-signup.css}">
	<link rel="stylesheet" th:href="@{/css/user-footer-header.css}">
	<link rel="stylesheet" th:href="@{/css/reset.css}">

</head>

<body>

	<!-- HEADER BANNER -->
	<header>
		<!-- HEADER BANNER  before -->
		<header>
			<a href="">
				<div class="logo-triangle-black"></div>
				<div class="user_logo">
					<img src="/sourceImg/user_web_logo.svg">
				</div>
			</a>
		</header>
		<!----HEADER BANNER after -->
	</header>

	<div class="bg_pic">
		<div class="background_cream" id="gradiation">
		</div>
		<div class="background_green_over" id="green_half_x">
		</div>
	</div>

	<!-- <div class="untransparent_window_container"> -->
		<form class="untransparent_window_container" method="post" th:action="@{/user/logi	n}">
			<div class="form_container user-login-form ">
				<div class="space-between"></div>
				<input class="input-bar user-login-input-bar circle-radius green-background " type="email"
					id="studentEmail" name="email" placeholder="EMAIL" required>
				<div class="space-between"></div>
				<input class="input-bar user-login-input-bar circle-radius cream-background " type="password"
					id="studentPassword" name="password" placeholder="PASSWORD" required>
			</div>
			<!-- ここで遷移先を入力 -->
			<input class="green-background user-lg-btn" type="submit" value="ログイン">
					<a th:href="@{/user/password/reset}" class="cream-background user-login-fgtpsw">パスワード忘れた?</a>
		</form>

	<!-- </div> -->

	<p th:if="${error == true}" class="error-msg none-display">E-mailまたはパスワードが間違っています</p>
	
	<div class="new-user-account hover-rotate new-acc-door">
		<a th:href="@{/user/register}">
		<img  src="/sourceImg/user_sign_up_door.svg" width="200px">
		</a>
	</div>
	<div class="door-handle"><img src="/sourceImg/user_sign_up_handle.svg" width="60px" ></div>

	<!-- copyright -->
	<footer>
		<p>copyright &copy; 2023 - ENSkill</p>
	</footer>




</body>

</html>