<!DOCTYPE html>
<html>

<head>

    <title>userApplicationConfirm</title>
    <link rel="stylesheet" th:href="@{/css/user-application-confirm.css}">
    <link rel="stylesheet" th:href="@{/css/user-footer-header.css}">
    
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- SVG追加-->
    <div class="svg">
        <div class="svg-logo">
            <img class="svg-image" th:src="@{/sourceImg/admin_web_logo.svg}" alt="SVG Image">
        </div>


    </div>

    <!-- ヘッダーのボダン-->
    <header>
        <div class="buttons">
            <a th:href="@{/user/lesson/list}" class="head-course">Courses</a>

            <a th:href="@{/user/cart}" class="head-cart"><img th:src="@{/sourceImg/cart_logo.svg}" alt="SVG Icon" class="svg-cart"> </a>
            <a th:href="@{/user/login}" class="head-login"><span>Login</span></a>

        </div>
    </header>

    <!-- リスト（内容）-->
    <div class="main">
        <h1 class="application-title">申し込み内容確認</h1>
        <!-- リスト（サンプル）-->

        <div class="list" th:each="lesson:${cartList}">
            <img class="lecture-image" th:src="@{'/images/' + ${lesson.imageName}}" alt="Lecture Image">

            <div class="lecture-title">
                <h4 th:text="${lesson.lessonName}"></h4>
            </div>

            <div class="lecture-price" th:text="${lesson.lessonFee} + '円'"></div>

        </div>
 


        <!-- 合計金額や買い物を続く、戻るボダン-->
        <h2 class="total">
            <span class="total-label">合計：</span>
            <span id="total-amount"></span>
        </h2>

        <!--pointが不足している場合のエラーメッセージ-->
        <p th:if="${insufficientPoints}">ポイントが不足しています</p>
        <!--既に購入済みの商品が混入していた場合のエラーメッセージ-->
        <div th:if="${purchasedLessonIds}">
			<p th:text="${message}"></p>
		</div>
        <div class="finally-button">
            <a th:href="@{/user/cart}" class="continue">修正する</a>
            <form th:action="@{/user/completed}" method="post">
  				<button type="submit" name="purchase" class="into">購入</button>
			</form>	
        </div>
    
    </div>

    <!-- フッター-->
    <footer>
        <div class="footer-logo">
            <img class="svg-image" th:src="@{/sourceImg/user_web_logo.svg}" alt="SVG Image">
        </div>
        <p class="footer-p">未経験からプロまでのITとビジネスを学び、成長させよう。</p>

        <div class="footer-academy">
            <h3>ACADEMY</h3>
            <p class="academy-p"><a href="#">ダッシュボード</a></p>
            <p class="academy-p"><a th:href="@{/user/lesson/list}">講座一覧</a></p>
        </div>
        <div class="footer-about">
            <h3>ABOUT</h3>
            <p class="about-p">運営会社</p>
            <p class="aboout-p">採用情報</p>
            <p class="about-p">お問い合わせ</p>
        </div>
    </footer>

    <!-- 著作権情報-->
    <p class="last">@ 2023 Enskill. copyright</p>
</body>


<script th:src="@{/js/userCartList.js}"></script>

</html>