<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>passwordChange</title>
  <link rel="stylesheet" th:href="@{/css/passwordChange.css}">
</head>

<body>
  <!--svg追加-->
  <div class="svg-logo">
    <img class="svg-image" src="/sourceImg/user_website_logo.svg" alt="SVG Image">
  </div>


  <div class="svg-container">
    <div class="svg-window">
      <img class="svg-image" src="/sourceImg/window1.svg" alt="SVG Image">
    
<form method="post" th:action="@{/password/reset}" id="passwordResetForm">
    <div class="text-container">
      <p class="key">パスワードを忘れた際の提示キーワード
        <input  class="forget" type="text" id="studentKeyPassword" name="keyword" required>
      </p>

      <div class="text">
        <p class="input-row">E-メール</p>            
        <p class="input-row">新しいパスワード</p>    
        <p class="input-row">パスワード確認</p>     
      </div>

      
      <div class="inputs">
        <input type="email" class="input-field" id="input1" name="email" required>
        <input type="password" class="input-field" id="input2" name="password"required>
        <input type="password" class="input-field" id="input3" name="password2"autocomplete="off" required>
      </div>

  </div>
    </div>
  </div>

  <button input type="submit" class="passwordReset" onclick="validateInputs()" >パスワードリセット</button>
  
  </form> 
  <!-- 通知用ボックス -->
      <section th:if="${error}">
  		<div id="notification" class="notification" style="display: none;">
    <!-- コンテンツ -->
    		<p id="notification-message" class="notification-message"></p>
    		<button id="notification-close-button" class="notification-close-button">X</button>
  		</div>
 	 	<div id="error-notification" class="error-notification" style="display: none;">
  		</div>
      </section>


  <script src="/js/passwordChange.js"></script>
</body>

</html>