
<!DOCTYPE html>
<html>

<head>
  <!--<link rel="stylesheet" th:href="@{/css/adminLessonRegister.css}">-->  
	<link rel="stylesheet" href="/EC/css/adminLessonRegister.css">
    <title>adminLessonRegister</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Courier+Prime&family=Darumadrop+One&family=Gloock&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap"
        rel="stylesheet">

</head>

<body>
	<div class="container">
    <!-- SVG追加-->
    <div class="svg">
        <div class="svg-logo">
            <img class="svg-image" th:src="@{/sourceImg/admin_web_logo.svg}" alt="SVG Image">
        </div>


    </div>

    <!-- ヘッダーのボダン-->
    <header>
        <div class="buttons">
            <a th:href="@{/admin/lesson/list}" class="head-course">Courses</a>
            <a th:href="@{/admin/logout}" class="head-sign-out"><span>Sign Out</span></a>

        </div>
    </header>

    <!--内容-->

	<a th:href="@{/admin/lesson/list}" class="return">＜戻る</a>

    <div class="main">
    
    <div class="content">
		<div class="content-title">
		<h1 class="main-title">講座登録</h1>
	    </div>
	</div>

<div class="form-container">
   <form method="post" enctype="multipart/form-data" th:action="@{/lesson/register}">
	<div class="file-input">
		<input type="file" id="upload-input" name="imageName" accept="image/png,image/jpeg,image/gif" required>
		<label for="upload-input" id="upload-label">
			<div id="preview-container">
				<span id="placeholder-text">クリックしてアップロード</span>
				<img id="preview-image" class="image-preview">
			</div>
		</label>
	</div>

    <div class="lesson-content">
		<div class="lesson-title">
			<div class="icon"></div>
			<h2 class="title">講座タイトル</h2>
			<br>
			<input class="input-title" type="text" placeholder="講座タイトルを入力" name="lessonTitle" required>
        
			<div class="lesson-cost">
			<div class="icon"></div>
			<h2 class="cost">講座金額</h2>
			<br>
			<input type="number" min="0" class="input-cost"placeholder="講座金額を入力" name="fee" required>
			<h3 class="cost-last">円</h3>
		</div>

		</div>

		<div class="lesson-details">
			<h2>講座詳細</h2>
			<div class="decor-div"></div>
			<textarea class="details" placeholder="講座内容テキスト" name="content"　required></textarea>
			<br>
		</div>
		
		<br>


		<div class="last-button">
			<button class="button" id="ok"> 
				登録
			</button>
	   </div>
	   
		
		</div>
	</form>	
</div>






	</div>


    <!-- フッター-->
    <footer>
        <div class="footer-logo">
            <img class="svg-image" th:src="@{/sourceImg/user_web_logo.svg}" alt="SVG Image">
        </div>
        <p class="footer-p">未経験からプロまでのITとビジネスを学び、成長させよう。</p>
      
    </footer>

    <!-- 著作権情報-->
    <p class="last">@ 2023 Enskill. copyright</p>
	
	</div>
</body>


<script th:src="@{/js/adminLessonRegister.js}"></script>

</html>