body {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #fbeedd;
  background-image: url("/EC/sourceImg/grid_shallow_gray.svg");
}

html {
  font-size: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}



/*---------------------------------------------------------------------------------------------------
/* ---- 共通css ----- */
.border4px {
  border: #000000 4px solid;
}

.justify-content-space-around {
  display: flex;
  justify-content: space-around;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.align-items-flex-end {
  display: flex;
  align-items: flex-end;
}


.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.text-decoration-none {
  text-decoration: none;
}

.font-weight-600 {
  font-weight: 600;
}

.green-background {
  background-color: #0f8524;
}

.cream-background {
  background-color: #fbeedd;
}

.circle-radius {
  border-radius: 30em;
}

.font-color-cream {
  color: #fbeedd;
}

.font-color-green {
  color: #007c30;
}

.font-color-black {
  color: #000000;
}

.submit-button {
  border: 4px solid #000000;
  font-size: 2.3em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 800;
}

.submit-button:hover {
  background-color: #ff6128;
  transition: all 0.3s;
  cursor: default;

}

.label {
  font-weight: 600;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/* ----- header Bar------- */
header {
  margin: 10px;
}

.logo-horizontal-black {
  z-index: 2;
  width: 150px;
  position: fixed;
  top: 10px;
  left: 12px;
}

.cart-icon .svg_element {
  fill: #007c30;
  width: 30px;
}

.cart-icon .svg_element :hover {
  fill: #ff6128;
}

.cart-icon .svg_element :active {
  fill: #fbeedd;
}


#SignButton {
  border: none;
  font-size: 10px;
  font-weight: 400;
  padding: 5px 10px 6px 10px;
  cursor: pointer;

}

#coursesButton:hover {
  color: #ff516e;
}

#headerBar {
  width: 100%;
}

#headerBarRightPart {
  width: 20%;
}





main {
  flex: 1;
  margin: 0 auto;
  width: 80%;
  margin-top: 2%;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 20%;
}

.return-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  padding-left: 6%;
}

.return {
  text-decoration: none;
  color: #eb6106;
  padding-bottom: 1px;
  border-bottom: 2px solid #eb6106;

}


.main-image {
  display: flex;
  align-items: flex-end;

}

.image-container {
  display: flex;

}

#course-detail-img-preview {

  flex: 1;
  width: 900px;
  height: 500px;
  background-color: #fbeedd82;
  border: #007c2f 3px solid;
  position: relative;
  overflow: hidden;
}

.image {
  height: 100%;
}



.buy a {
  text-decoration: none;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
}


.cost {
  color: #eb6106;
  font-size: 25px;
  font-weight: 600;
}


.buy {
  background-color: #eb6106;
  border-radius: 30px;
  border: 3px solid black;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  width: 120px;
  height: 10%;
  text-align: center;
  color: #ffff;
  font-weight: 600
}

.cost-button {
  margin-left: 70px;
}

.text-area {
  position: absolute;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 10%;
}

.image-title {
  word-wrap: break-word;
  color: #007c2f;
}




/* ----- footerBar ----- */
.logo-horizontal-cream {
  width: 150px;
}



#footerFrame {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 300px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.academy-container {
  display: block;
}

#academy {
  height: 50px;
}

#academy a {
  text-decoration: none;
  color: #fbeedd;
  cursor: pointer;
}

#about {
  height: 75px;
  color: #fbeedd;
}

#footerLeftContainer {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}

#footerLeftContainer p {
  margin-top: 5px;
  color: #fbeedd;
}

#footerRightContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20%;
  width: 45em;
  right: 10px;
}

#footerRightContainer h3 {
  color: #fbeedd;
  font-family: 'Noto sans JP';
  font-style: italic;
}




.copyright {
  color: #007c30;
  margin-left: 1%;
}