body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 600px;
    background-color: #fbeedd;
    min-height: 100vh;
    background-image: url(/EC/sourceImg/grid_shallow_gray.svg);
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.svg-logo {
    padding-top: 2%;
    padding-left: 2%;
    left: 2%;
    width: 10%;
    height: 10%;

}


header {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons {
    margin-right: 2%;
    display: flex;
    margin-top: -2.8%;

}

.head-course {
    text-decoration: none;
    color: #007c2f;
    font-weight: bold;
    margin-right: 30px;
}


.head-sign-out {
    background-color: #007c2f;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;

}



.main {
    flex: 1;
    min-height: 100%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 2%;
    color: #007c2f;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;

}


.return {
    text-decoration: none;
    color: #eb6106;
    display: inline-block;
    padding-top: 3%;
    padding-left: 7%;
    margin-bottom: 5px;
    position: relative;
}

.return::after {
    content: '';
    position: absolute;
    margin-left: -23%;
    bottom: -5px;
    /* 下划线的位置调整为文本下方一定距离 */
    width: 23%;
    height: 2px;
    background-color: #eb6106;
}



.content-title {
    border-bottom: 3px solid #007c2f;
    text-align: center;
}

.form-container{
    overflow: auto;
    
}


/* 添加框样式 */
.file-input {
    text-align: center;
    box-sizing: border-box;
    /* 添加盒模型属性 */
    width: 45px;
    height: 300px;
    /*设置图片的最大宽度*/
    max-width: 80%;
    float: left;
    /*设置图片浮动到左边*/
    margin-top: 5%;
    margin-left: -20px;
    width: 60%;
    display: flex;
	justify-content: space-between;
	align-items: center;
}


/* 隐藏上传按钮 */
#upload-input {
    display: none;
}

/* 设置预览容器样式 */
#preview-container {
    position: relative;
    width: 450px;
    /* 设置容器宽度为虚线框的宽度 */
    height: 300px;
    /* 设置容器高度为虚线框的高度 */
    border: 3px solid #ffff;
    margin-left: 20px;
    float: left;
    overflow: hidden;
    /* 隐藏溢出部分 */
    box-sizing: border-box;
    /* 添加盒模型属性 */
    background-color: #007c2f;
}

/* 设置占位文本样式 */
#placeholder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    font-size: 18px;
}

/* 设置预览图片样式 */
#preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.lesson-content {
    color: #eb6106;
    padding-top: 60px;
}


.icon {
    display: inline-block;
    width: 8px;
    /* 调整为所需的宽度 */
    height: 1em;
    /* 与文字高度相同 */
    background-color: #eb6106;
    /* 设置背景颜色为黑色 */

}


.icon,
.title {
    display: inline-block;
}

.icon,
.cost {
    display: inline-block;
}

.input-cost,
.cost-last {
    display: inline-block;
}

.input-title {
    color: #007c2f;
    width: 41.7%;
    font-weight: bold;
    font-size: 0.5cm;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eb6106;
    /* 下划线的样式 */
    outline: none;
    /* 去掉输入框的默认外边框 */
}

.input-cost {
    padding: 8px 16px;
    /* 调整内边距以增加按钮感觉 */
    background-color: #eb6106;
    border: #007c2f 2px solid;
    color: #fff;
    border-radius: 30px;
    text-align: right;
    font-weight: bold;
}
.lesson-details {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	min-height: 400px;
}

.decor-div {
	width: 100%; /* 将宽度调整为 20px */
	height: 20px;
	border: 3px solid #007c2f;
	background-color: #fbeedd;
	border-bottom: none;
	box-sizing: border-box;
}

.details {
	flex: 1;
	font-family: 'Noto Sans', sans-serif;
	background-color: #fbeedd;
	width: 100%;
	height: 250px;
	border: 3px solid #007c2f;
	resize: vertical;
	overflow: auto;
	word-wrap: break-word;
	direction: ltr;
	text-align: left;
	resize: none;
	outline: none;
	font-size: 0.6cm;
	color: #007c2f;
	padding: 20px;
	box-sizing: border-box;
}


.last-button .buttons a{
    text-decoration: none;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 2px 30px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: #007c2f;
    color: #fff;
    text-align: center;
    font-size: 0.8cm;
    box-shadow: 0px 5px 0px #000;
    margin-bottom: 50px;
    margin-top: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;

  }
  
  .ok {
    text-decoration: none;
    color: #fff;
  }
  


 #ok{
   float: right;
   
 }
  



footer{
    background-color: #007c2f;
    padding-bottom: 10vh;
    position: relative;
    /* 将定位属性改为相对定位 */
    bottom: 0;
    /* 将页脚固定在底部 */
    width: 100%;
}

.footer-logo {
    padding-top: 4%;
    padding-left: 5%;
    margin-left: 80%;
    width: 10%;
    height: 10%;
}

.footer-p {
    font-size: 8px;
    color: #ffff;
    margin-left: 70%;
    width: 40%;
}


.last {
    font-family: 'Noto Sans JP', sans-serif;
    color: #007c2f;
    font-size: 10px;
    padding-left: 6%;
    padding-bottom: 4px;
}