body {
    font-family: Arial, sans-serif; /* 设置字体样式 */
    margin: 0; /* 设置页面边距为0 */
    padding: 0; /* 设置页面内边距为0 */
    background: rgb(242, 154, 118);
    background: radial-gradient(circle, rgba(242, 154, 118, 1) 0%, rgba(253, 238, 232, 1) 57%, rgba(255, 255, 255, 1) 83%);
    background-position: 500px 0;
    background-repeat: no-repeat;
  }
  
header{
    height: 200px;
    background-color: #007c2f;
}

a.add {
    position: absolute;
     font-size: 80px;
     text-decoration: none; /* 去掉下划线 */
     margin-top: 100px;
     margin-left:80%;
     color: #fff;
}

.svg-logo {
    position: absolute; /* 将SVG图像设置为绝对定位 */
    top: 0; /* 将SVG图像置于顶部 */
    left: 0; /* 将SVG图像置于左侧 */
    width: 200px; /* 设置SVG图像的宽度 */
    height: 200px; /* 设置SVG图像的高度 */
  }

.lesson-list {
    margin: 20px; /* 设置讲座列表的外边距为20px */
}

.lesson {
    display: flex; /* 使用弹性盒子布局 */
    align-items: center; /* 垂直居中对齐 */

/*分割线*/
    border-top: 2px solid #007c2f; /* 设置顶部边框为1px实线灰色 */
    padding: 20px 0; /* 设置上下内边距为20px，左右内边距为0 */
}

.lesson-image {
    flex: 0 0 200px; /* 设置图片占据200px的宽度，不进行伸缩 */
    margin-right: 20px; /* 设置右外边距为20px */
}

.lesson-image img {
    width: 500px; /* 设置图片的宽度为500px */
    height: 300px; /* 设置图片的高度为300px */
    object-fit: cover; /* 控制图片的缩放方式，保持宽高比并填充容器 */
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
}

.lesson-details {
    flex: 1; /* 剩余空间全部占据 */
    margin-left: 50px;
}

.lesson-details h2 {
    font-size: 20px; /* 设置标题的字体大小为20px */
    margin-bottom: 10px; /* 设置下边距为10px */
}

.lesson-actions {
    margin-top: 10px; /* 设置上外边距为10px */
}

.more{
    padding: 5px 10px; /* 设置按钮的内边距为5px上下，10px左右 */
    margin-right: 10px; /* 设置右外边距为10px */
    background-color: transparent; /* 设置背景颜色为透明 */
    color: #007c2f; /* 设置文本颜色为黑色 */
    border: 2px solid #007c2f; /* 设置边框样式为1px实线绿色 */
    border-radius: 30px; /* 设置圆角效果为3px */
    cursor: pointer; /* 设置鼠标悬停样式为手型 */
}

.lesson-cost {
    font-size: 18px; /* 设置金额字体大小为18px */
    font-weight: bold; /* 设置金额字体粗细为粗体 */
    color: #d06161; /* 设置金额文本颜色为红色 */
    margin-left: 100px;
}

footer {
    background-color: #f2f2f2; /* 设置背景颜色为浅灰色 */
    padding: 10px; /* 设置内边距为10px */
    text-align: center; /* 设置文本居中对齐 */
}
