body {
  margin: 0; /* 边距为0，消除页面默认的边距 */
  padding: 0; /* 内边距为0，消除页面默认的内边距 */
  background: linear-gradient(to bottom, #fbeedd 50%, #007c2f 50%); /* 应用垂直渐变背景 */
}

.svg-logo {
  position: absolute; /* 绝对定位 */
  top: 0; /* 顶部位置 */
  left: 0; /* 左侧位置 */
  width: 200px; /* 宽度 */
  height: 200px; /* 高度 */
}

.svg-container {
  position: relative; /* 相对定位 */
  height: 100vh; /* 设置高度为视窗高度 */
}

.svg-window {
  display: flex; /* 显示为弹性盒子 */
  margin-top: 80px; /* 顶部外边距 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: center; /* 水平居中对齐 */
}

.svg-window img {
  width: 650px; /* 宽度 */
  height: 450px; /* 高度 */
}

.text-container {
  display: flex; /* 显示为弹性盒子 */
  flex-direction: column; /* 列方向布局 */
  position: absolute; /* 绝对定位 */
  top: 120px; /* 顶部位置 */
  bottom: 20px; /* 底部位置 */
  left: 370px; /* 左侧位置 */
  right: 20px; /* 右侧位置 */
}

.text-container p {
  margin: 0; /* 边距为0 */
  color: #007c2f; /* 文本颜色 */
  margin-top: 35px; /* 顶部外边距 */
  font-weight: bold; /* 文本粗细 */
}

.text-container .key {
  display: flex; /* 显示为弹性盒子 */
  align-items: center; /* 垂直居中对齐 */
  margin-top: 3px; /* 顶部外边距 */
}

.text-container .forget {
  margin-left: 30px; /* 左侧外边距 */
  border-radius: 30px; /* 边框圆角 */
  background-color: #007c2f; /* 背景颜色 */
  color: #fbeedd; /* 文本颜色 */
  padding: 3px 55px; /* 内边距 */
  font-weight: bold; /* 文本粗细 */
  border-style: solid; /* 边框样式 */
  border-color: black; /* 边框颜色 */
  border-width: 3px; /* 边框宽度 */
  text-align: right; /* 文本右对齐 */
}

.forget a {
  text-decoration: none; /* 文本无下划线 */
  color: #fbeedd; /* 文本颜色 */
}

.text-container .input-row {
  position: relative; /* 相对定位 */
  margin-bottom: 20px; /* 底部外边距 */
  text-align: left; /* 文本左对齐 */
}

.text-container .input-row input {
  width: 280px; /* 宽度 */
  height: 20px; /* 高度 */
  margin-left: 100px; /* 左侧外边距 */
  border: none; /* 无边框 */
  background-color: transparent; /* 透明背景颜色 */
  border-bottom: 3px solid black; /* 底部边框 */
}

#input1 {
  margin-left: 130px; /* 左侧外边距 */
}

#input2 {
  margin-left: 67px; /* 左侧外边距 */
}

#input3 {
  margin-left: 84px; /* 左侧外边距 */
}

.text-container .input-row input:focus {
  outline: none; /* 移除聚焦时的轮廓线 */
}

.text-container .input-row input::placeholder {
  color: transparent; /* 设置占位符颜色为透明 */
}

.input-line {
  position: absolute; /* 绝对定位 */
  bottom: 0; /* 底部位置 */
  left: 0; /* 左侧位置 */
  width: 100%; /* 宽度 */
  height: 3px; /* 高度 */
  background-color: black; /* 背景颜色 */
}

.passwordReset {
  position: absolute; /* 绝对定位 */
  bottom: 90px; /* 底部位置 */
  right: 320px; /* 右侧位置 */
  background-color: #fbeedd; /* 背景颜色 */
  font-weight: bold; /* 文本粗细 */
  border-style: solid; /* 边框样式 */
  border-color: black; /* 边框颜色 */
  border-width: 3px; /* 边框宽度 */
  padding: 5px 10px; /* 内边距（增加按钮的可点击区域） */
}

.passwordReset a {
  color: black; /* 文本颜色 */
  text-decoration: none; /* 文本无下划线 */
}

.error-notification {
  display: none; /* 初始状态下隐藏通知框 */
  background-color: #fbeedd; /* 背景颜色 */
  color: black; /* 文本颜色 */
  padding: 20px; /* 内边距 */
  margin-top: 10px; /* 顶部外边距 */
  text-align: center; /* 文本居中 */
  border: 3px black solid; /* 边框样式 */
}

.notification {
  position: fixed; /* 使用固定定位，使其脱离文档流 */
  top: 40%; /* 垂直方向上的位置为页面的中间 */
  left: 50%; /* 水平方向上的位置为页面的中间 */
  transform: translate(-50%, -50%); /* 使用translate将元素居中 */
  display: none; /* 初始状态下隐藏 */
  background-color: #fbeedd; /* 背景颜色 */
  color: black; /* 文本颜色 */
  padding: 20px; /* 内边距 */
  text-align: center; /* 文本居中 */
  border: 4px black solid; /* 边框样式 */
  width: 300px; /* 宽度 */
  height: 100px; /* 高度 */
  font-weight: bold; /* 文本粗细 */
  z-index: 9999; /* 较高的层级，确保通知框在最上层 */
}

.notification-message {
  font-size: 14px; /* 文本字体大小 */
  color: #000000; /* 文本颜色 */
  margin-top: 40px; /* 顶部外边距 */
}

.notification-close-button {
  position: absolute; /* 绝对定位 */
  top: -4px; /* 顶部位置 */
  right: -4px; /* 右侧位置 */
  background-color: #fbeedd; /* 背景颜色 */
  border: 4px black solid; /* 边框样式 */
  color: black; /* 文本颜色 */
  font-size: 20px; /* 文本字体大小 */
  padding: 5px 10px; /* 内边距 */
  cursor: pointer; /* 鼠标指针样式 */
  font-weight: bold; /* 文本粗细 */
}
