/*-------------------------------------------
                    基礎設定
-------------------------------------------*/
html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
    background: linear-gradient(90deg, #fff, #f29a76);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 60px;
}

.total{
    display:flex;

}

.total div{
    margin-top:17px;
    margin-left: 20px;
    font-size: 20px;

}
/*---合計金額の要素---*/
.subtotal {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 790px;
}
/*---下線を引くため---*/
.section-title div{
    border-bottom: solid 1px #007c2f;
    border-width: 3px;
}

.content {
    flex-wrap: wrap;
}
.content-title {
    font-size: 2rem;
    margin: 10px 0;
}
.course-title {
    font-size: 1rem;
    margin: 10px 0;
}

/*--------------------------------
            ボタン関連
---------------------------------*/
/*---詳細画面遷移ボタン---*/
.text button{
    width:150px;
    height:44px;
    background: linear-gradient(90deg, #fff, #f29a76);
    border-radius:22px;
/*    margin-right: 200px;*/
    margin-left: 250px;
    background: transparent;
    border-color: #007c2f !important;
}

.set-price {
    color: #007c2f !important;
    font-size: 20px;
    font-weight:bold;
}

/*----下線を引くため----*/
.border-line{
    color:transparent;
    border-bottom: solid 1px #007c2f;
    border-width: 3px;
    margin-bottom:40px;
}

/*-------------------------------------------
                    cart
-------------------------------------------*/
#cart .content{
    display: flex;
}

#cart img {
    width: 250px;
    height: 154px;
    margin-right: 100px;
    margin-bottom:50px;
}

#cart .text {
    text-align: left;
}

/*-------------------------------------------
                    button
-------------------------------------------*/

.select-button{
    display:flex;
    justify-content: space-between;
}

a.btn_1 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	padding: 1rem 4rem;
	color: #000;
	font-weight: bold;
	position: relative;
	transition: 0.3s ease-in-out;
    border: 1px solid #000;
}
a.btn_1:hover {
    background: #fff;
    color: #f28577;
}
a.btn_1:before, a.btn_1:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
a.btn_1:before {
  top: 0;
  left: 0;
}
a.btn_1:after {
  bottom: 0;
  right: 0;
}
a.btn_1:hover:before, a.btn_1:hover:after {
  width: 100%;
  height: 100%;
}
a.btn_1:hover:before {
  border-top-color: #f2ae77;
  border-right-color: #f2ae77;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
a.btn_1:hover:after {
  border-bottom-color: #f2ae77;
  border-left-color: #f2ae77;
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}

a.btn_2 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin-left: auto;
	padding: 1rem 4rem;
	color: #000;
	font-weight: bold;
	position: relative;
	transition: 0.3s ease-in-out;
    border: 1px solid #000;
}
a.btn_2:hover {
    background: #fff;
    color: #f28577;
}
a.btn_2:before, a.btn_2:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
a.btn_2:before {
  top: 0;
  left: 0;
}
a.btn_2:after {
  bottom: 0;
  right: 0;
}
a.btn_2:hover:before, a.btn_2:hover:after {
  width: 100%;
  height: 100%;
}
a.btn_2:hover:before {
  border-top-color: #f2ae77;
  border-right-color: #f2ae77;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
a.btn_2:hover:after {
  border-bottom-color: #f2ae77;
  border-left-color: #f2ae77;
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}
