/*-------------------------------------------
                    基礎設定
-------------------------------------------*/
html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
    background: linear-gradient(90deg, #fff, #f29a76);
}

a {
    text-decoration: none;
}

img {
    max-width: 60%;
}

li {
    list-style: none;
}

/*全体的な調整*/
.wrapper {
    max-width: 760px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

/*---下線を引くため---*/
.course-title div{
    margin-bottom:30px;
}

/*-------------------------------------------
                    ヘッダー
-------------------------------------------*/
.header{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 0 auto;
    padding: 0 4%;
}

.header li a {
    color: #24292e;
}

.header li a:hover{
    color: #827676;
}


.header ul {
    display: flex;
    padding: 10px 0;
}

.header li {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
}

.set-price input{

    width:150px !important;
    height:44px !important;
    background: linear-gradient(90deg, #fff, #f29a76) !important;
    border-radius:22px !important;
    margin-top: 7px !important;
    margin-right: 150px !important;
    background: transparent !important;
    border-color: #007c2f !important;

}

/*-------------------------------------------
                  記事の枠線
-------------------------------------------*/
.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #007c2f;
}
.box p {
    margin: 0; 
    padding: 0;
    max-width: 60%;
    margin-left: 145px;
    margin-bottom: 10px;
}
