/* base css */
html {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    min-width: 800px !important;
    cursor: cell;

}

::selection {
    background: #ff516e;
}

::-moz-selection {
    background: #ff516e;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.error-messag {
	text-align: center;
	margin-top: 12%;
    color: #f2a3a4;
    font-weight: bold;
}


/* ---------- */

/* -----左上のLOGO-------- */
.logo-triangle {
    z-index: 1;
    top: -10px;
    left: -10px;
    position: fixed;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 210px 210px 0 0;
    border-color: #fbeedd transparent transparent transparent;

}

.logo-triangle-black {
    z-index: 1;
    top: -10px;
    left: -10px;
    position: fixed;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 210px 210px 0 0;
    border-color: #1c1c1c transparent transparent transparent;
}

.admin_logo {
    z-index: 2;
    width: 150px;
    transform: rotate(-45deg);
    transform-origin: left center;
    position: fixed;
    top: 100px;
    left: 12px;
}
.logo-horizontal{
    z-index: 2;
    width: 150px;
    transform-origin: left center;
    position: fixed;
    top: 10px;
    left: 12px;
}
.cart-icon{
    width: 30px;
}
 
.text-decoration-none{
    text-decoration: none;
}
.font-weight-600{
    font-weight: 600;
}

/* ------------------- */


/* ------background-image------------------------ */
.bg_pic_container {
    position: relative;
    top: 0;
    bottom: 0;
}

.background_green {
    min-width: 1200px !important;
    content: "";
    position: fixed;
    background-color: #007c30;
    z-index: -100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.background_cream {
    min-width: 1200px !important;
    content: "";
    position: fixed;
    background-color: #fbeedd;
    z-index: -100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.background_green_over {
    background-color: #007c30;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -9;
}

.green_triangle_bg {
    position: fixed;
    z-index: -90;
    top: -10px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1200px 1700px 0 0;
    border-color: #007c30 transparent transparent transparent;
}

.grid_background {
    min-width: 1200px;
    content: "";
    position: fixed;
    z-index: -80;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* -----------over the background-------------- */
.smile-sticker {
    display: inline-block;
    position: fixed;
    top: 14%;
    right: 6%;
    width: 7%;
    min-width: 100px;
    cursor: grab;
}

.smile-sticker:active {
    cursor: grabbing;
}

.title_container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
}

.title_container #login_text {
    position: fixed;
    bottom: 10px;
    min-width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart-icon .svg_element :hover {
    fill:#ff6128;
}
.cart-icon .svg_element :active {
    fill:#fbeedd;
}

/* ----------*/

/* button and input area */
form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.login-form .space-between {
    height: 60px;
}

.register-form .space-between {
    height: 30px;
}


.input-bar {
    text-align: center;
    font-size: 3em;
    font-family: 'Noto Sans JP', sans-serif;
    /* color:#262626; */
    font-weight: 500;
}

.input-bar::placeholder {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7em;
    color: #0d621e;
    opacity: 0.5;
}

.input-radius {
    width: 40vw;
    height: 70px;
    border: #000000 solid 4px;
    border-radius: 30em;
}

.circle-radius {
    border-radius: 30em;
}

.green-background {
    background-color: #0f8524;
}

.cream-background {
    background-color: #fbeedd;
}

.submit-button {
    border: 4px solid #000000;
    font-size: 2.3em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
}

.submit-button:hover {
    background-color: #ff6128;
    transition: all 0.3s;
    cursor: default;

}
.font-color-cream{
    color: #fbeedd;
}
.font-color-green{
    color: #007c30;
}

.return_container {
    display: inline-block;
    position: fixed;
    top: 50%;
    right: 6%;
    width: 10%;
    min-width: 110px;
}

.sign_up_container {
    display: inline-block;
    position: fixed;
    top: 65%;
    left: 6%;
    width: 10%;
    min-width: 110px;
}

button {
    min-width: 110px;
    --glow-color: rgb(9, 177, 73);
    --glow-spread-color: rgba(0, 124, 48, 0.781);
    --enhanced-glow-color: rgb(153, 254, 44);
    --btn-color: rgb(0, 124, 48);
    border: 4px solid #000000;
    padding: 0.2em;
    color: #fbeedd;
    font-size: 3vw;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 0em;
    outline: none;
    box-shadow: 0 0 1em .2em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color);
    text-shadow: 0 0 .1em #fbeedd;
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    /* ?置?元素的内容?空 */
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    /* ?置?元素的 3D ??效果 */
}

button:hover {
    color: #fbeedd;
    background-color: #ff6128;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    background-color: #0f8524;
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}


/* REGISTER FINISH PAGE */
.card {
    width: 172px;
    height: 254px;
    position: fixed;
    right: 10%;
    bottom: 20%;
    display: inline-block;
    margin: 50px;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}


.regist-finish {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    color: #ff6128;
}

.justify-content-space-around {
    display: flex; 
    justify-content: space-around;
}
.justify-content-space-between{
    display: flex;
    justify-content: space-between;
}
.align-items-center{
    display: flex;
    align-items: center;
}

