body {
    margin: 0;
    padding: 0;
}

.top-half {
    height: 50vh; /* 上半部分高度占据视窗的 50% */
    background-color: #fbeedd; /* 上半部分背景颜色 */
}

.bottom-half {
    height: 50vh; /* 下半部分高度占据视窗的 50% */
    background-color: #007c2f; /* 下半部分背景颜色 */
}

.content {
    position: absolute;
    top: 50%; /* 将元素的顶部定位在父容器的中间位置 */
    left: 50%; /* 将元素的左侧定位在父容器的中间位置 */
    transform: translate(-50%, -50%); /* 使用 translate 实现垂直和水平居中 */
    text-align: center;
    border: black 3px solid;
    height: 25vh; /* 内容块的高度 */
    background-color: #fbeedd; /* 内容块的背景颜色 */
    width: 65vw; /* 内容块的宽度 */
    margin-top: 2vh; /* 与顶部元素的距离为 2vh */
    color: black; /* 文字颜色 */
    text-align: center; /* 文字居中 */
    font-weight: bold; /* 文字加粗 */
    font-size: 3.5vw; /* 文字大小 */
}

.svg-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw; /* SVG 图标的宽度 */
    height: 20vw; /* SVG 图标的高度 */
}

.top {
    position: absolute;
    top: calc(50% - 18vh); /* 调整垂直位置，根据 content 的高度进行调整 */
    left: 50%; /* 将元素的左侧定位在父容器的中间位置 */
    transform: translateX(-50%); /* 使用 translate 实现水平居中 */
    border: black 3px solid;
    height: 5vh; /* 顶部横条的高度 */
    background-color: #fbeedd; /* 顶部横条的背景颜色 */
    width: 60vw; /* 顶部横条的宽度 */
    z-index: 1; /* 设置层叠顺序为 1，使其在 content 之上 */
    margin-top:-1vw; /* 与上方的元素的距离为 -6vw */
}

.content {
    border: black 3px solid;
    height: 35vh; /* 内容块的高度 */
    background-color: #fbeedd; /* 内容块的背景颜色 */
    width: 50vw; /* 内容块的宽度 */
    color: black; /* 文字颜色 */
    text-align: center; /* 文字居中 */
    font-weight: bold; /* 文字加粗 */
    font-size: 2.5vw; /* 文字大小 */
}

.content p {
    margin-top: 10vh; /* 与上方的元素的距离为 10vh */
}

.login {
    position: absolute;
    bottom: 18vh; /* 按钮底部与底部元素的距离为 18vh */
    right: 24vw; /* 按钮右侧与右侧元素的距离为 24vw */
    width: 18vw; /* 按钮的宽度 */
    height: 5vh; /* 按钮的高度 */
    border: black 3px solid;
    background-color: #fbca5a; /* 按钮的背景颜色 */
}

.login a {
    text-decoration: none; /* 去除链接下划线 */
    color: black; /* 按钮文字颜色 */
    font-weight: bold; /* 按钮文字加粗 */
}