
.notification {
  position: fixed; /* 使用固定定位，使其脱离文档流 */
  top: 40%; /* 垂直方向上的位置为页面的中间 */
  left: 50%; /* 水平方向上的位置为页面的中间 */
  transform: translate(-50%, -50%); /* 使用translate将元素居中 */
  display: none; /* 初始状态下隐藏 */
  background-color: #fbeedd; /* 背景颜色 */
  color: black; /* 文本颜色 */
  padding: 20px; /* 内边距 */
  text-align: center; /* 文本居中 */
  border: 4px black solid; /* 边框样式 */
  width: 300px; /* 宽度 */
  height: 100px; /* 高度 */
  font-weight: bold; /* 文本粗细 */
  z-index: 9999; /* 较高的层级，确保通知框在最上层 */
}

.notification-message {
  font-size: 14px; /* 文本字体大小 */
  color: #000000; /* 文本颜色 */
  margin-top: 40px; /* 顶部外边距 */
}

.notification-close-button {
  position: absolute; /* 绝对定位 */
  top: -4px; /* 顶部位置 */
  right: -4px; /* 右侧位置 */
  background-color: #fbeedd; /* 背景颜色 */
  border: 4px black solid; /* 边框样式 */
  color: black; /* 文本颜色 */
  font-size: 20px; /* 文本字体大小 */
  padding: 5px 10px; /* 内边距 */
  cursor: pointer; /* 鼠标指针样式 */
  font-weight: bold; /* 文本粗细 */
}