/* base css */
html {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;


}

body {
    min-width: 800px !important;

}

::selection {
    background: #ff516e;
}

::-moz-selection {
    background: #ff516e;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
  text-decoration: none;
  color:inherit;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

/* ---------- */

/* 左上のLOGO */
.logo-triangle-black {
    z-index: 1;
    top: -10px;
    left: -10px;
    position: fixed;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 210px 210px 0 0;
    border-color: #1c1c1c transparent transparent transparent;
}

.user_logo {
    z-index: 2;
    width: 150px;
    transform: rotate(-45deg);
    transform-origin: left center;
    position: fixed;
    top: 100px;
    left: 12px;
}

/* ------------------- */

/* background color and image */

.bg_pic {
    position: relative;
    top: 0;
    bottom: 0;

}

.background_pic {
    min-width: 1200px;
    content: "";
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.background_cream {
    min-width: 1200px t;
    content: "";
    position: fixed;
    background-color: #fbeedd;
    z-index: -100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.background_green_over {
    background-color: #007c30;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -9;
}

.background_over1 {
    min-width: 1200px;
    content: "";
    position: fixed;
    z-index: -95;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.multiple_background {
    background-image: url("/sourceImg/grid_line_white.svg"), url("/sourceImg/user_signup_finish_bgpic.svg");
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-blend-mode: normal, normal;
    z-index: -100;
}

/* ------------共通css----------- */

.input-bar {
    text-align: center;
    font-size: 3em;
    font-family: 'Noto Sans JP', sans-serif;
    /* color:#262626; */
    font-weight: 500;
}

.input-bar::placeholder {
    font-family: 'Noto Sans JP', sans-serif;
    color: #0d621e;
    opacity: 0.5;
}

.circle-radius {
    border-radius: 60px;
}

.green-background {
    background-color: #0f8524;
}

.cream-background {
    background-color: #fbeedd;
}

.none-display {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: auto;
    cursor: url(sourceImg/pointer.svg), auto;

}

.justify-align-center-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.flex-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 75%;
    /* border: #000000 solid 1px; */
    /* 大きさお確認のため */
    align-items: center;
}

.input-transparent {
    background-color: transparent;
    border: none;
    font-family: 'Noto Sans JP'sans-serif;
    color: #ff6128;
    text-align: flex-end;
}

.pt17 {
    font-size: 17pt;
}

.border-bottom {
    border-bottom: #000000 2px solid;
}

.pxh80 {
    height: 80px;
}

.pxh75 {
    height: 75px;
}

.float {
    float: right;
}

.border4px {
    border: #000000 4px solid;
}

.zindex1 {
    z-index: 1;
}

.zindex2 {
    z-index: 2;
}

/* --------userLogin Page -------- */
.untransparent_window_container {
    background-color: rgba(251, 238, 221, 0.2);
    border: solid 4px #000000;
    width: 43%;
    min-width: 400px;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* .user-login-form{
    width: 8vw;
} */
.user-login-form .space-between {
    height: 50px;
}

.user-login-input-bar {
    height: 70px;
    width: 75%;
    border: #000000 solid 4px;
}

.user-lg-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: #000000 4px solid;
    border-top: #000000 4px solid;
    height: 22%;
    width: 60%;
    font-size: 29pt;
    color: #fbeedd;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.user-lg-btn:hover {
    background-color: #ff6128;
    transition: all 0.3s;
    cursor: pointer;
}

.user-login-fgtpsw {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 16%;
    height: auto;
    border-right: #000000 4px solid;
    border-top: #000000 4px solid;
    font-size: 6pt;
    padding: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: #007c30;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-login-fgtpsw:hover {
    color: #ff516e;
    cursor: pointer;

}

.none-display {
    display: none;
}

.new-acc-door {
    position: fixed;
    bottom: -10px;
    right: 100px;
    cursor: grabbing;
}

.new-acc-door:hover~.door-handle {
    transform-origin: left center;
    transform: rotate(45deg);
    cursor: grabbing;
}

.door-handle {
    position: fixed;
    bottom: 140px;
    right: 230px;
    transition: transform 0.3s ease-in-out;
    cursor: grabbing;
}


/* ------user SignUp page-------------------------------- */
.mail-icon {
    width: 40px;
}

.name-icon {
    width: 70px;
    transform: translateX(-30px);
}

.name-icon img {
    height: 30px;
}

.psw-icon {
    width: 30px;
}

.label-img-holder {
    height: 20px;
}

.user-signup-form {
    padding-top: 3%;

    background-color: rgb(255, 238, 215);
    border: solid 4px #191919;
    width: 43%;
    min-width: 400px;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#UserSignUpButton {
    width: 110px;
    height: 60px;
    color: #007c30;
    font-size: 17pt;
    font-family: 'Noto Sans JP'sans-serif;
    font-weight: 500;
    transform: translateX(60px) translateY(-140px);
    box-shadow: #000000;
    /* box-shadow: h-shadow v-shadow blur spread color; */
    box-shadow: 0 7px 4px 0 #00000056;
    transition: transform 0.3s ease-in-out;
    /*付け加え*/
    text-align: center;  

}

#UserSignUpButton:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#UserSignUpButton:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateX(60px) translateY(-142px);
}

#UserSignUpButton:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateX(60px) translateY(-142px);
}

.psw-forget {
    position: absolute;
    width: 80%;
    left: 8%;
    bottom: 6%;
}

.psw-forget label {
    color: #007c30;
    font-size: 10px;
    font-family: 'Noto Sans JP'sans-serif;
    font-weight: 600;
}

.psw-forget input {
    border: 2px solid #000000;
    font-size: 15px;
    width: 30%;
    color: #fbeedd;
    text-align: center;
}

#studentEmail, #studentPassword, #studentName, #studentKeyPassword {
    text-align: center;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    font-style: italic;
    font-weight: 600;

}

.bg-decorate {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -90;
}

#yellow-cross-star1 {
    position: absolute;
    width: 18%;
    left: 4.2%;
    bottom: 8.1%;
    min-width: 150px;
}

#yellow-cross-star2 {
    position: absolute;
    right: 6%;
    top: 10%;
    width: 10%;
    min-width: 90px;
}

#spiral-cross-star3 {
    position: absolute;
    right: 3.4%;
    bottom: 6%;
    width: 20%;
    min-width: 214px;
}

/* ----- confirm-box  -----*/

.confirmation-box {
    display: flex;
    position: fixed;
    top: 30%;
    right: 20%;
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 5%;
    /* box-shadow: h-shadow v-shadow blur spread color; */
    box-shadow: 0 7px 30px 10px #00000056;
    cursor: grab;
    transition: transform 0.3s ease-in-out;

}

.confirmation-box p {
    font-size: 13pt;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: #fbeedd;
}

.confirmation-box input {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.confirmation-box input:hover {
    background-color: #ff6128;
}

.confirmation-box input:active {
    background-color: #dbb4ba;
}

/* ---------UserRegisterFinish------ */

#border-cream-cross-star1 {
    position: absolute;
    width: 8%;
    left: 4.2%;
    bottom: 8.1%;
    min-width: 80px;
}

#border-cream-cross-star2 {
    position: absolute;
    right: 6%;
    top: 10%;
    width: 4%;
    min-width: 40px;
}

.opened-mail {
    position: fixed;
    top: 22%;
    left: 33.3%;
    width: 33%;
    height: auto;
    min-width: 360px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    /* position: relative; */
}

.absolute-top0 {
    position: absolute;
    top: 10px;
    left: 5.5%;
}

.scroll-text {
    width: 89%;
    height: 100px;
    overflow: hidden;
}

.scroll-text p {
    animation: scroll 5s linear infinite;
    white-space: nowrap;
}

.thank-regi-msg p {
    font-size: 30pt;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.rotate-animation {
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* ---to login button styles---- */
.cta {
    position: absolute;
    top:30%;
    left: 39%;
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    /* letter-spacing: 4px; */
    font-size: 5em;
    font-family: 'Antonio';
    color: #fbeedd;
    padding-right: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.cta span:active {
    color:#ff516e
}
#arrow-horizontal1{
    fill:#fbeedd;
}
.cta svg {
    transform: translateX(-10px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: #fbeedd;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #fbeedd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}